<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhon.rain.dao.RainGoodsInfoMapper">
  <resultMap id="BaseResultMap" type="com.jhon.rain.domain.RainGoodsInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="product_info" jdbcType="INTEGER" property="productInfo" />
    <result column="scan" jdbcType="INTEGER" property="scan" />
    <result column="market_price" jdbcType="DECIMAL" property="marketPrice" />
    <result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="cover_img" jdbcType="VARCHAR" property="coverImg" />
    <result column="serial_num" jdbcType="VARCHAR" property="serialNum" />
    <result column="stock_quantity" jdbcType="INTEGER" property="stockQuantity" />
    <result column="sort" jdbcType="DECIMAL" property="sort" />
  </resultMap>

  <resultMap id="PartInfoResultMap" type="com.jhon.rain.common.dto.RainGoodsInfoDTO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="scan" jdbcType="INTEGER" property="scan" />
    <result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
    <result column="cover_img" jdbcType="VARCHAR" property="coverImg" />
    <result column="thum_path" jdbcType="VARCHAR" property="thumPath" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, description, product_info, scan, market_price, sell_price, add_time, cover_img, 
    serial_num, stock_quantity, sort
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_goods_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_goods_info
  </select>

  <!--通过ids查询记录-->
  <select id="queryRecordByIds" resultMap="PartInfoResultMap">
    select id,name,scan,sell_price,cover_img
    from t_goods_info
    where id IN
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
    ORDER BY sort
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_goods_info
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.jhon.rain.domain.RainGoodsInfo">
    insert into t_goods_info (id, name, description, 
      product_info, scan, market_price, 
      sell_price, add_time, cover_img, 
      serial_num, stock_quantity, sort
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{productInfo,jdbcType=INTEGER}, #{scan,jdbcType=INTEGER}, #{marketPrice,jdbcType=DECIMAL}, 
      #{sellPrice,jdbcType=DECIMAL}, #{addTime,jdbcType=TIMESTAMP}, #{coverImg,jdbcType=VARCHAR}, 
      #{serialNum,jdbcType=VARCHAR}, #{stockQuantity,jdbcType=INTEGER}, #{sort,jdbcType=DECIMAL}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.jhon.rain.domain.RainGoodsInfo">
    insert into t_goods_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="productInfo != null">
        product_info,
      </if>
      <if test="scan != null">
        scan,
      </if>
      <if test="marketPrice != null">
        market_price,
      </if>
      <if test="sellPrice != null">
        sell_price,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="coverImg != null">
        cover_img,
      </if>
      <if test="serialNum != null">
        serial_num,
      </if>
      <if test="stockQuantity != null">
        stock_quantity,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="productInfo != null">
        #{productInfo,jdbcType=INTEGER},
      </if>
      <if test="scan != null">
        #{scan,jdbcType=INTEGER},
      </if>
      <if test="marketPrice != null">
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="sellPrice != null">
        #{sellPrice,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="coverImg != null">
        #{coverImg,jdbcType=VARCHAR},
      </if>
      <if test="serialNum != null">
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="stockQuantity != null">
        #{stockQuantity,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jhon.rain.domain.RainGoodsInfo">
    update t_goods_info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="productInfo != null">
        product_info = #{productInfo,jdbcType=INTEGER},
      </if>
      <if test="scan != null">
        scan = #{scan,jdbcType=INTEGER},
      </if>
      <if test="marketPrice != null">
        market_price = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="sellPrice != null">
        sell_price = #{sellPrice,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="coverImg != null">
        cover_img = #{coverImg,jdbcType=VARCHAR},
      </if>
      <if test="serialNum != null">
        serial_num = #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="stockQuantity != null">
        stock_quantity = #{stockQuantity,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jhon.rain.domain.RainGoodsInfo">
    update t_goods_info
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      product_info = #{productInfo,jdbcType=INTEGER},
      scan = #{scan,jdbcType=INTEGER},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      sell_price = #{sellPrice,jdbcType=DECIMAL},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      cover_img = #{coverImg,jdbcType=VARCHAR},
      serial_num = #{serialNum,jdbcType=VARCHAR},
      stock_quantity = #{stockQuantity,jdbcType=INTEGER},
      sort = #{sort,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>